.footer {
	overflow: hidden;
	padding-top: 30px;
	background-color: $body-bg;

	&__container{
		position: relative;
	}
	&__row{
		display: flex;
		flex-wrap: wrap;

		@include media-breakpoint-up(xl){
			padding-right: 200px;
		}
		@include media-breakpoint-up(xxl){
			padding-right: 260px;
		}
	}
	//
	&__rights-col{
		width: 100%;
		margin-bottom: rem(20);
		@include media-breakpoint-up(xl){
			width: 40%;
			margin-bottom: 0;
		}
		@include media-breakpoint-up(xxl){
			width: 48%;
		}
	}
	&__rights{
		font-size: rem(14);
		line-height: 1;
	}
	&__licence{
		font-size: rem(14);
		line-height: 1;
	}
	//
	&__contact-col{
		width: 100%;
		margin-bottom: rem(20);
		@include media-breakpoint-up(xl){
			margin-bottom: 0;
			width: 60%;
		}
		@include media-breakpoint-up(xxl){
			width: 52%;
		}

		@include media-breakpoint-up(sm){
			display: flex;
			justify-content: space-between;
		}

		.header-item{
			padding-top: 0;
		}
	}
	//
	&__btn-col{
		@include media-breakpoint-up(xl){
			position: absolute;
			z-index: 1;
			bottom: 0;
			right: 0;
			width: 180px;
		}
	}
	&__btns-txt{
		@include media-breakpoint-up(xl){
			max-width: 100px;
		}

		line-height: 1;
		font-size: rem(14px);
		font-weight: bold;
		margin-bottom: rem(10);
		text-transform: uppercase;
	}
	&__btns{
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: center;
		@include media-breakpoint-up(xl){
			display: block;
		}
	}
	&__btn{
		display: block;
		margin: 0 0 rem(5) 0;
	}
	&__hand{
		position: absolute;
		z-index: -1;
		right: 0;
		bottom: 0;
		img{
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
		}
	}
	//
	&__menu{
		ul{
			padding: 0;
			margin: 0;
			list-style: none;

			display: flex;
			flex-wrap: wrap;
			li{

			}
			a{
				display: block;
				font-size: rem(12);
				padding: rem(10px) rem(10px) rem(10px) 0;
				color: $black;
				text-transform: uppercase;
			}
		}
	}

	&__{}
	&__{}
	&__{}
}
