// start .sForm
.sForm {
	background-color: $light;

	padding: rem(25) 0 rem(25) 0;
	@include media-breakpoint-up(xl){
		padding: rem(39px) 0 rem(37px) 0;
	}

	.form-wrap{
		.row{
			@include media-breakpoint-up(xl){
				@include roww(60px);
			}
		}

		//txt-col
	
		&__{}
		&__{}
	}
} // end.sForm