mixin sControl()
	// start sControl
	+b.SECTION.sControl.section#sControl&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Контроль расхода топлива автомобиля 
				.row.text-sm-left
					.col-sm-auto
						img(src="img/station.svg", alt="")
					.col
						+e.text Контролировать топливо возможно несколькими способами, но&nbsp;в&nbsp;каждом из&nbsp;них головным устройством является ГЛОНАСС/GPSтрекер.

						+e.text Наиболее точным методом является использование емкостного датчика уровня топлива (ДУТ).  Метод контроля топлива через CAN-шину стоит использовать, когда нет технической возможности установить ДУТ. Ниже представлена более подробная информация с&nbsp;указанием цен.

			mixin item(i,t,p)
				+e.col.col-lg-4.col-sm-6
					+e.item 
						+pic(`sControl-${i}.jpg`,'','',0)
						+e.title!= t
						p!= p
						+e.btn.link-modal(href="#modal-call" data-title="Запросить цену") Запросить цену
				// /+e.col.col-lg-4.col-sm-6
			.row
				+item(`1`,`ГЛОНАСС/GPS ТРЕКЕР`,`Не&nbsp;требуется дополнительных вложений в&nbsp;оборудование, подходит для бухгалтерского учета`)
				+item(`2`,` ГЛОНАСС/GPS ТРЕКЕР+  ДАТЧИК УРОВНЯ ТОПЛИВА`,`Высокая точность показаний`)
				+item(`3`,`ГЛОНАСС/GPS трекер+ Контроль CAN-шины.`,`Получение данных о&nbsp;нескольких параметрах работы транспорта`)
	// end sControl