
	// start .sGift
	.sGift {

		&__block{
			border-radius: 10px;
				@include media-breakpoint-up(sm){

					padding: rem(30);
				}
				padding: rem(15);
			border: 2px solid $primary;
			&--sm{
				@include media-breakpoint-up(lg){
				max-width: rem(470);
				}
				margin-bottom: rem(30);
				&:last-child{
						@include media-breakpoint-up(lg){
							margin-bottom: 0;
						}
				}
		 
			}
			&--lg{
					@include media-breakpoint-up(xl) {
						
						padding: rem(60) rem(40);
						height: 100%;
					}
					
					@include media-breakpoint-up(sm) {
					padding: rem(60) rem(20);
					min-height: rem(500);
					// min-height: rem(500);
				}
				min-height: rem(400);
				padding: rem(40) rem(15);
					margin-bottom: 0px;
				display: flex;
				align-items: flex-end;
				background-image: url(../img/@2x/gift-bg.png);
				background-position: 100% 100%;
				background-repeat: no-repeat;
				background-size: contain;
				position: relative;
				background-position: top right;
				&::before,
				&::after{
					content: '';
					position: absolute;
					background-size: contain;
					background-repeat: no-repeat;
					pointer-events: none;

				}
				&::after{
					left: -1px;
					top: -5px;
					background-image: url(../img/@2x/gift.png);
					width: 90%;
					height: 200px;
				}
					@include media-breakpoint-up(sm){

						&::before{
							
					bottom: 0;
					right: -30%;
					background-image: url(../img/@2x/hand.png); 
					width: 80%;
					height: 90%; 
					background-position: bottom right;
				}
			}
				
			}
		}
		&__title{
			color: $primary;
			font-weight: 600;
			text-transform: uppercase;
			@extend .h3;
			margin-bottom: 0;
			&--lg{
				@include rfs(rem(52));
				font-weight: bold;
				
			}
		}
		&__text{
			@extend .h5;
		}

		&__text-lg{
			@extend .h3;
			color: #494949;
			text-transform: uppercase;
			margin-bottom: 0;
		}
		&__title-lg{
			@extend .h1;
			font-weight: bold;
			text-transform: uppercase;
			color: $primary;
			max-width: rem(340);
		}
		&__wrap{
			max-width: rem(340);

		}
		&__btn{
			@extend .btn;
			@extend .btn-block;
			@extend .btn-primary;
			// max-width: rem(340);

		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sGift