mixin headerBlock()
	// start headerBlock
	+b.headerBlock.bg-wrap#headerBlock&attributes(attributes)
		+pic("head-bg",'bg')(class="picture-bg")
		.container
			+e.block
				h1 Мониторинг Транспорта GPS/ГЛОНАСС
				ul
					li 
						+e.icon-wrap: img(src="img/station.svg", alt="") 
						| Контроль расхода топлива 
					li 
						+e.icon-wrap: img(src="img/road.svg", alt="") 
						| Отслеживание движения транспорта
					li 
						+e.icon-wrap: img(src="img/cars.svg", alt="") 
						| Снижение затрат на содержание парка
				+e.btn.link-modal(href="#modal-call" data-title="Запросить консультацию") Запросить консультацию

	// end headerBlock