mixin sGaranty()
	// start sGaranty
	+b.SECTION.sGaranty.text-center.section#sGaranty&attributes(attributes)
		.container
			+b.section-title
				h2 ГАРАНТИЯ НА&nbsp;ОБОРУДОВАНИЕ 10&nbsp;ЛЕТ!
				+e.text Мы&nbsp;производим оборудование и&nbsp;программное обеспечение
			+e.btn.link-modal(href="#modal-call" data-title="Запросить консультацию") Запросить консультацию
	// end sGaranty