mixin sSetUp()
	// start sSetUp
	+b.SECTION.sSetUp.section#sSetUp&attributes(attributes)
		.container
			+b.section-title
				h2 Установка мониторинга транспорта
			+e.row
				+e.imgs
					+setUpImgItem()
					+setUpImgItem()
				+e.txt-item
					p Компанией «MCC ГЛОНАСС» осуществляется точная установка мониторинга транспорта, которая ведет контроль за автомобилями автопарка.
					p В соответствии с приказом Министерства транспорта РФ «О порядке оснащения транспортного средства аппаратурой спутниковой навигации», каждый пассажирский и грузовой транспорт, перевозящий больше 8 человек или занимающийся перевозкой тяжелых и опасных грузов, должен быть оснащен аппаратно-программными устройствами, определяющие расположение автомобиля и передающие эти данные диспетчерам.
					p Такое решение в комплектации с трекерами, датчиками поможет оптимизировать деятельность предприятия, снизить расходы на обслуживание, в результате, окупиться за период от 3 до 6 месяцев.
			+e.banner
				img.lazy(src='#' data-src="img/@2x/banner-img.jpg" alt="")
	// end sSetUp

mixin setUpImgItem()
	+e.img-item
		+e.img(href='#')
			img.lazy(src="#" data-src="img/@2x/setup-img.jpg" alt="#")