mixin sStart()
	// start sStart
	+b.SECTION.sStart.section#sStart&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Как начать сотрудничество
			.row

				+e.item.left-order.col-lg-4
					+e.item-img
						img.img-svg(src='img/sStartSvg1.svg' alt="")
					+e.descr-block
						+e.item-headline
							|Оставить
							|
							br
							|заявку
						+e.item-title Потребуются ваши реквизиты и информация о транспорте

				+e.item.ready-order.col-lg-4
					+e.item-img
						img.img-svg(src='img/sStartSvg2.svg' alt="")
					+e.descr-block
						+e.item-headline
							|ПОДГОТОВИМ
							|
							br
							|ПРЕДЛОЖЕНИЕ
						+e.item-title
							|В течение
							|
							br
							|30 минут

				+e.item.instaliation.col-lg-4
					+e.item-img
						img.img-svg(src='img/sStartSvg3.svg' alt="")
					+e.descr-block
						+e.item-headline
							|Выезжаем к&nbsp;вам
							|
							br
							|на&nbsp;установку
						+e.item-title В течение суток

	// end sStart