mixin sStart()
	// start sStart
	+b.SECTION.sStart.section#sStart&attributes(attributes)
		+e.container.container
			+b.section-title.text-center
				h2 Схема работы
			.row
				+e.item.left-order.col-lg-4
					+e.item-img
						img(src='img/@2x/scheme-img-1.png' alt="")
					+e.descr-block
						+e.item-headline
							|Оставить
							|
							br
							|заявку
						+e.item-title
							| Потребуются ваши реквизиты и
							br
							| информация о транспорте
				+e.item.ready-order.col-lg-4
					+e.item-img
						img(src='img/@2x/scheme-img-2.png' alt="")
					+e.descr-block
						+e.item-headline
							|ПОДГОТОВИМ
							|
							br
							|ПРЕДЛОЖЕНИЕ
						+e.item-title
							|В течение
							|30 минут
				+e.item.instaliation.col-lg-4
					+e.item-img
						img(src='img//@2x/scheme-img-1.png' alt="")
					+e.descr-block
						+e.item-headline
							|Выезжаем к&nbsp;вам
							|
							br
							|на&nbsp;установку
						+e.item-title В течение суток
	// end sStart