// start .sStart
.sStart {

	.section-title{
		h2{

		}
	}

	&__item{
		//1
		&.left-order{
			.img-svg{
				width: rem(93px);
				height: rem(107px);
			}
		}
		//2
		&.ready-order{
			.img-svg{
				width: rem(89px);
				height: rem(113px);
			}
		}
		//3
		&.instaliation{
			.img-svg{
				width: rem(183px);
				height: rem(73px);
			}
		}


		&:last-child:after{
			content: none;
		}

		position: relative;
		&:after{
			content: '';
			position: absolute;

			//triangle
			width: 0;
			height: 0;
			border-style: solid;


			border-width: rem(50px) rem(22) 0 rem(22);
			border-color: $primary transparent transparent transparent;

			right: 50%;
			top: 100%;
			transform: translateX(50%) translateY(-50%);
			@include media-breakpoint-up(lg){
				border-width: 22px 0 22px 50px;
				border-color: transparent transparent transparent $primary;

				right: 0;
				top: 40px;
				transform: translateX(50%);
			}
		}
		//

		padding-bottom: rem(50);
		margin-bottom: rem(50);
		@include media-breakpoint-up(sm){
			display: flex;
			align-items: stretch;
		}
		@include media-breakpoint-up(lg){
			display: block;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
	&__item-img{
		flex-shrink: 0;
		display: flex;

		margin-bottom: 20px;
		@include media-breakpoint-up(sm){
			width: 150px;
			//height: 120px;
			margin-bottom: 0;
		}
		@include media-breakpoint-up(lg){
			height: 140px;
			width: 100%;
		}

		.img-svg {
			margin: auto auto auto auto;
			@include media-breakpoint-up(lg){
				margin: auto;
			}
			max-width: 80%;
			max-height: 100%;
			fill: $primary !important;
			color: $primary !important;
			//??
			.cls-1, .cls-3{
				fill: $primary !important;
				color: $primary !important;
			}
		}
	}
	&__item-headline{
		text-align: center;
		@include media-breakpoint-up(sm){
			text-align: left;
		}

		br{
			display: none;
		}
		@include media-breakpoint-up(lg){
			text-align: center;
			br{
				display: block;
			}
		}

		color: $primary;
		font-weight: 600;
		text-transform: uppercase;


		margin-bottom: rem(15);
		font-size: rem(20);
		@include media-breakpoint-up(md){
			font-size: rem(28);
		}
		@include media-breakpoint-up(lg){
			margin-bottom: rem(35);
			font-size: rem(32);
		}
	}
	&__item-title{
		text-align: center;
		@include media-breakpoint-up(sm){
			text-align: left;
		}

		br{
			display: none;
		}
		@include media-breakpoint-up(lg){
			text-align: center;
			br{
				display: block;
			}
		}
		color: $secondary;


		font-size: rem(17);
		@include media-breakpoint-up(md){
			font-size: rem(20);
		}
		@include media-breakpoint-up(lg){
			font-size: rem(22);
		}
	}
	//
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sStart