// start .sStart
.sStart {
	--sPT: #{rem(32px)};

	--sPB: #{rem(30px)};
	--sTPB: #{rem(35)};
	@include media-breakpoint-up(lg){
		--sPB: #{rem(59px)};
		--sTPB: #{rem(25)};
	}

	&__container{
		@include media-breakpoint-up(xl){
			max-width: 1065px!important;
		}
	}
	.section-title{
		h2{
			font-size: $h2-font-size;
			font-weight: 600;
		}
	}

	&__item{
		//1
		&.left-order{

		}
		//2
		&.ready-order{

		}
		//3
		&.instaliation{

		}


		&:last-child:after{
			content: none;
		}

		position: relative;
		&:after{
			@include media-breakpoint-up(lg){
				content: '';
			}
			position: absolute;

			//triangle
			width: 0;
			height: 0;
			border-style: solid;


			border-width: rem(50px) rem(22) 0 rem(22);
			border-color: $primary transparent transparent transparent;

			right: 50%;
			top: 100%;
			transform: translateX(50%) translateY(-50%);
			@include media-breakpoint-up(lg){
				border-width: 22px 0 22px 50px;
				border-color: transparent transparent transparent $primary;

				right: 0;
				top: 61px;
				transform: translateX(50%);
			}
		}
		//

		padding-bottom: rem(30);
		display: flex;
		align-items: center;
		@include media-breakpoint-up(lg){
			display: block;
			padding-bottom: 0;
		}
	}
	&__item-img{
		flex-shrink: 0;
		margin-right: 30px;

		width: rem(80px);
		@include media-breakpoint-up(sm){
			width: rem(120px);
		}
		@include media-breakpoint-up(lg){
			width: rem(165px);
			margin-left: auto;
			margin-right: auto;
			margin-bottom: rem(23px);
		}
		height: auto;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}


		//flex-shrink: 0;
		//display: flex;
		//
		//margin-bottom: 20px;
		//@include media-breakpoint-up(sm){
		//	width: 150px;
		//	//height: 120px;
		//	margin-bottom: 0;
		//}
		//@include media-breakpoint-up(lg){
		//	height: 140px;
		//	width: 100%;
		//}

		//.img-svg {
		//	margin: auto auto auto auto;
		//	@include media-breakpoint-up(lg){
		//		margin: auto;
		//	}
		//	max-width: 80%;
		//	max-height: 100%;
		//	fill: $primary !important;
		//	color: $primary !important;
		//	//??
		//	.cls-1, .cls-3{
		//		fill: $primary !important;
		//		color: $primary !important;
		//	}
		//}
	}
	&__item-headline{
		//text-align: center;
		//@include media-breakpoint-up(sm){
		//	text-align: left;
		//}

		br{
			display: none;
		}
		@include media-breakpoint-up(lg){
			text-align: center;
			br{
				display: block;
			}
		}

		color: $primary;
		font-weight: 600;
		text-transform: uppercase;

		margin-bottom: rem(10);
		font-size: rem(20);
		@include media-breakpoint-up(md){
			font-size: rem(28);
		}
		@include media-breakpoint-up(lg){
			margin-bottom: rem(3);
			font-size: rem(29.5px);
		}
		line-height: 1.2;
	}
	&__item-title{
		//text-align: center;
		line-height: 1.2;
		@include media-breakpoint-up(sm){
			//text-align: left;
		}

		br{
			display: none;
		}
		@include media-breakpoint-up(lg){
			text-align: center;
			br{
				display: block;
			}
		}
		color: $secondary;
		font-size: rem(16);
	}
	//
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sStart