extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sTestDrive/_sTestDrive.pug 
include ../blocks/sLogo/_sLogo.pug 
include ../blocks/sGift/_sGift.pug 
include ../blocks/sAbout/_sAbout.pug 
include ../blocks/sMonitoring/_sMonitoring.pug 
include ../blocks/sGaranty/_sGaranty.pug 
include ../blocks/sCatalog/_sCatalog.pug 
include ../blocks/sServises/_sServises.pug 
include ../blocks/sGet/_sGet.pug 
include ../blocks/sControl/_sControl.pug 
include ../blocks/sExample/_sExample.pug 
include ../blocks/sSert/_sSert.pug 
include ../blocks/sWork/_sWork.pug 
include ../blocks/sStart/_sStart.pug
include ../blocks/sSetUp/_sSetUp.pug
include ../blocks/sPrice/_sPrice.pug
include ../blocks/sFeedback/_sFeedback.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent
	+header()
		+topLine()
	+breadcrumb('MCC ГЛОНАСС', 'Услуги')
	+sSetUp()
	+sPrice()
	+sForm()
	+sStart
	+sCatalog
	+sSert
	+sGet
	+sFeedback
	+footer
	//-+sTestDrive
	//-+sLogo
	//-+sGift
	//-+sAbout
	//-+sMonitoring
	//-+sGaranty
	//-+sServises
	//-+sControl
	//-+sExample
	//-+sWork
	//-+sStart