mixin sSert()
	// start sSert
	+b.SECTION.sSert.section#sSert&attributes(attributes)
		.container
			.row
				+e.cerfificats-col.col-xl-6
					+e.headline Наши сертификаты
					+e.certificats-row.row
						+CertificatItem(1)
						+CertificatItem(2)
						+CertificatItem(3)
				.col-xl-6
					+e.consult-form
						+form-wrap()
							+e.headline БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ
							+e.txt Оставьте заявку на&nbsp;консультацию, и&nbsp;профессиональный менеджер подберет для вас оптимальное решение по&nbsp;мониторингу транспорта
							+e.inputs-cont
								+e.INPUT.input(type="tel" name="client_phone" placeholder="+7 (___) - ___ - __ - __")
								+e.BUTTON.call-btn(type='submit') Перезвонить


	// end sSert

mixin CertificatItem(imgNum)
	+e.certificat-item.col-sm-4.text-center
		+e.A.item-content(href=`img/@2x/certificat-${imgNum}.jpg` data-fancybox="prodImgGroup")
			+e.img-cont
				img(src=`img/@2x/certificat-${imgNum}.jpg` alt="")
			+e.item-title Лицензия на оказане телематических услуг связи