// start .sCatalog
.sCatalog {
  background-color: $header-gray;

  --sPT: #{rem(29px)};
  --sPB: #{rem(30px)};
  --sTPB: #{rem(35)};
  @include media-breakpoint-up(lg){
    --sPT: #{rem(29px)};
    --sPB: #{rem(0)};
    --sTPB: #{rem(25)};
  }
  .section-title{
    h2{
      font-weight: 600;
    }
  }


  &__col {
    margin-bottom: 30px;
  }

  --frontAngle: 180deg;
  --backkAngle: 0;

  &__item {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    max-width: rem(400);
    position: relative;

    &:hover {
      --frontAngle: 0;
      --backkAngle: -180deg;
    }
  }

  &__side {
    flex-grow: 1;
    height: 100%;
    box-shadow: -1px -5px 5px rgba(0, 0, 0, 0.07);
    border: 2px solid #dadada;
    background-color: #ffffff;
    //border-radius: 10px;
    border-radius: 0px;
    padding: rem(30) rem(20) rem(20);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: rem(400);
    position: relative;

    transition: all 0.5s ease-in-out 0s;
    backface-visibility: hidden;

    &--front {
      transform: perspective(1200px) rotateY(var(--backkAngle));
    }

    &--back {
      transform: perspective(1200px) rotateY(var(--frontAngle));
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: left;
      font-size: 12px;
      overflow: hidden;

      ul {
        font-size: 12px;
        padding-left: rem(10);
      }
    }
  }

  &__title {
    color: $secondary;
    @extend .h5;
    text-align: center;
    line-height: 1.2;
    flex-grow: 1;

    span {
      font-size: rem(14);
    }
  }

  picture {
    border-bottom: 1px solid #e1e1e1;
    height: rem(194);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      flex: 0 0 auto;
      max-height: 100%;
    }
  }

  &__price {
    text-align: center;
    @include rfs(rem(20));
    font-weight: 600;
  }

  table {
    .text-primary {

      // font-weight: bold;
      font-weight: 600;
      @include rfs(rem(20));
    }
  }

  .small {
    text-align: center;
  }

  &__foot {
    min-height: rem(70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__row {
    justify-content: center;
  }
}

// end.sCatalog