mixin sCatalog()
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Оборудование GPS/ГЛОНАСС
			+e.row.row
				mixin item(i,t,pr, sm )
					+e.col.col-xl-3.col-lg-4.col-sm-6
						+e.item
							+e.side--front
								+e.title!= t
								+pic(`prod-${i}.png`,'','',0)
								+e.foot
									if pr
										+e.price Цена: 
											|
											span.text-primary= pr
									block
									if sm
										.small!= sm
									//-a.btn.btn-primary.mt-2(href="#") Подробнее
							+e.side--back 
								+e.title!= t
								.strong Один из самых точных вариантов контроля топлива на сегодняшний день. Монтаж производится врезанием  
								ul
									li Емкостной метод измерения (не поплавок)
									li Точный контроль расхода топлива
									li Учет заправок и сливов
									li Взрывозащищенность
									li Неприхотливость к качеству топлива
									li Позволяет окупить расходы на систему мониторинга за 1 месяц
									li Стоимость установки от 1 990 руб
									li ЗАКАЗАТЬ
									li Дистанционное блокирование автомобиля
								+e.foot
									a.btn.btn-primary(href="#") Подробнее
					// /+e.col.col-xl-3.col-lg-4.col-sm-6
				+item(`1`,`GPS/ГЛОНАСС трекер (постоянный ON-Line контроль)`,`3 800 руб.`)
				+item(`2`,`Трекер ГЛОНАСС/GPS + встроенный аккумулятор (постоянный ON-Line контроль)`,`4 500 руб.`)
				+item(`3`,`Датчик уровня топлива цифровой взрывозащищенный`,`6 980 руб.`)
				+item(`4`,`Дистанционное блокирование автомобиля`,` от 900 руб.`,`(монтаж входит в&nbsp;цену) в&nbsp;зависимости от&nbsp;типа и&nbsp;кол-ва TC`)
				+item(`5`,`Датчик температуры в&nbsp;рефрижераторе`,`от 3 000 руб.`,`(монтаж входит в&nbsp;цену) в&nbsp;зависимости от&nbsp;типа и&nbsp;кол-ва TC`)
				+item(`6`,`Блок (кондиционер) питания (опционально по&nbsp;желанию заказчика)`)
					table
						tr
							td От 2-х автомобилей
							td 
								span.text-primary 4 300 р.
							
						tr
							td 1 автомобиль
							td 
								span.text-primary 4 500 р.

				+item(`7`,`Питание терминала ГЛОНАСС/GPS от&nbsp;прикуривателя`,`1 000 руб.`)
				+item(`8`,`Тревожная кнопка * <span>Тревожная кнопка может быть настроена на&nbsp;различные события (просто нажатие кнопки,
покидание (вход) определенной зоны, факт пуска двигателя и&nbsp;прочее)</span>`,`от 500 руб.`) 
	// end sCatalog