// start .sGet
.sGet {
  text-align: center;

	--sPT: #{rem(30px)};
	--sPB: #{rem(30px)};
	--sTPB: #{rem(25px)};
	@include media-breakpoint-up(lg){
		--sPT: #{rem(29px)};
		--sPB: #{rem(0)};
		--sTPB: #{rem(32px)};
	}

	.section-title{
		h2{
			font-weight: 600;
		}
	}

  &__col{
    @include media-breakpoint-up(xl){
      &:nth-child(1n + 4){
        .sGet__item{
          margin-bottom: rem(30px);
        }
      }
    }
  }

  &__item {
    @extend .h5;
    font-weight: normal;
    color: $secondary;
    max-width: rem(300);
    margin-left: auto;
    margin-right: auto;

    margin-bottom: rem(60);
  }

  &__icon-wrap {
    height: rem(80);
    margin-bottom: rem(30);

    .img-svg {
      //max-width: 100%;
      //max-height: 100%;
      max-width: rem(110);
      max-height: rem(80);

      path {
        fill: $primary !important;
      }

      margin-left: auto;
      margin-right: auto;
    }
  }
	&__title{
		font-size: rem(16);
		line-height: 1.2;
	}

}

// end.sGet