mixin sExample()
	// start sExample
	+b.SECTION.sExample.section#sExample&attributes(attributes)
		.container
			+e.before--1
			+e.before--2
			+e.before--3
			+e.before--4
			+b.section-title.text-center
				h2 Примеры отчётности
				
			+e.slider-wrapper
				+e.slider--js.swiper-container
					.swiper-wrapper
						mixin slide(t)
							+e.slide.swiper-slide(href='img/@1x/example.png' data-fancybox="ex")
								+e.DIV.img-wrap
									img.swiper-lazy.res-i(src="#" data-src="img/@1x/example.png", alt="")
								+e.DIV.footer
									.row
										.col
											+e.DIV.title= t
										.col-auto
											img.img-svg(src="img/graf.svg", alt="")
						+slide('Анализ расхода топлива')
						+slide('Отчёт по карточке транспортного средства')
				+arrow
				.swiper-pagination
	// end sExample