mixin sWork()
	// start sWork
	+b.SECTION.sWork#sWork&attributes(attributes)
		+e.before--1
		+e.before--2
		+e.before--3
		+e.before--4
		+e.before--5
		.container
			+b.section-title.text-center
				h2 Как это работает?
			+e.row.row
				+e.reasons-col.col-lg-5.col-xxl-4
					+e.reasons
						+e.reasons-headline 3 ПРИЧИНЫ
						+e.reasons-title
							|заказать мониторинг
							|
							br.d-none.d-lg-block
							|транспорта у&nbsp;нас
						+e.reasons-pills
							+e.reason-pill Мы производим и устa навливаем оборудование глонасс/gps более 12 лет
							+e.reason-pill Осуществляем монтаж оборудования во&nbsp;всех регионах
							+e.reason-pill Оказывает полную техническую поддержку
				.col-lg-7.col-xxl-8
					+e.video
						+e.video-headline Видеопрезентация спутникового мониторинга транспорта&#160;МСС ГЛОНАСС 
						+e.video-link 
							<video controls="" height="363" poster="img/@2x/poster.jpg" width="599"><source src="video.mp4" type="video/mp4"></video>
	// end sWork